body {
  background-color: #f7fafc;
  opacity: 1;
  background-image:  radial-gradient(#acdbff 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#acdbff 1.1500000000000001px, #f7fafc 1.1500000000000001px);
  background-size: 46px 46px;
  background-position: 0 0,23px 23px;
}

header {
  background-color: white;
}

.text-black {
  color: black;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.bg-white {
  background-color: white;
}

.container-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 2.1px 4.9px 0px;
  padding: 25px;
}

nav.navbar {
  margin-bottom: 0;
}

.top5 {
  margin-top: 5px;
}
.top7 {
  margin-top: 7px;
}
.top10 {
  margin-top: 10px;
}
.top15 {
  margin-top: 15px;
}
.top17 {
  margin-top: 17px;
}
.top30 {
  margin-top: 30px;
}

.bottom30 {
  margin-bottom: 30px;
}

.footer {
  background-color: #f5f5f5;
}

section.call-to-action {
  background: #0086d2;
  padding: 40px 0;
  color: white;
}

section.call-to-action h2 {
  color: white;
}

svg {
  color: white;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}



/* The hero image */
.hero-image {
  /* The image used */
  /* Set a specific height */
  height: 90vh;
  min-height: 200px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  flex: 1 0 auto;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#map {
  height: 500px;
  width: 100%;
}

footer {
  color: white;
  flex-shrink: 0;
  background-color: #f5f5f5;
  padding: 16px 0 16px 0;
}

footer a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#navbar-toggle-cbox {
  display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

#service-cbox {
  display: none;
}

#service-cbox:checked ~ #service-nav {
  display: block;
}

@media (min-width: 767px) {
  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}

.navbar label {
  font-weight: normal;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #b7b7b7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0086d2;
}
.navbar-default .navbar-text {
  color: #b7b7b7;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > label {
  color: #b7b7b7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > label:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > label:focus {
  color: #0086d2;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a,
.navbar-default .navbar-nav > li > .dropdown-menu > li > label {
  color: #b7b7b7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > label:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > li > .dropdown-menu > li > label:focus {
  color: #0086d2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > label,
.navbar-default .navbar-nav .open .dropdown-menu > .active > label:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > label:focus {
  color: #0086d2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > label,
.navbar-default .navbar-nav > .open > label:hover,
.navbar-default .navbar-nav > .open > label:focus {
  color: #0086d2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > label,
.navbar-default .navbar-nav > .open > label:hover,
.navbar-default .navbar-nav > .open > label:focus {
  color: #0086d2;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b7b7b7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b7b7b7;
}
.navbar-default .navbar-link {
  color: #b7b7b7;
}
.navbar-default .navbar-link:hover {
  color: #0086d2;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > label {
    color: #b7b7b7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > label:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > label:focus {
    color: #0086d2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > label,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > label:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > label:focus {
    color: #0086d2;
    background-color: #ffffff;
  }
}

/* hover */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75, 75, 75, 0.7);
  -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(0, 134, 210, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 46px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hovereffect a.info {
  height: 90%;
  width: 90%;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.overlay .info .link {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 5px;
}

.service-card {
  overflow: hidden;
}

.hovereffect img {
  width: 100%;
  height: 100%;
  max-height: 420px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-card,
  .hovereffect img {
    max-height: 380px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
